@mixin ulReset() {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}
@mixin ulMenu() {
   @include ulReset();

  li {
    float: left;
  }
}
@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
    float: none;
  }
}
