@import url( 'https://fonts.googleapis.com/css?family=Roboto:300,400,700|Syncopate');

$background: #f7f7f7;
$panelBg1: #012a44;
$panelBg2: #1f2426;
$dark1: #1f1500;
$dark2: #00293b;
$light1: #797979;
$accent1: #094fa3;
$accent2: #c3920f;

$font1: 'Syncopate';
$font2: 'Roboto';

$font-size-xxxs: 12px;
$font-size-xxs: 13px;
$font-size-xs: 14px;
$font-size-s: 15px;
$font-size-m: 18px;
$font-size-lg: 20px;
$font-size-xl: 30px;
$font-size-xxl: 48px;

$font-weight-normal: 500;
$font-weight-light: 300;
$font-weight-bold: 700;