.item-content {
    margin-top: 60px;
    @include clearfix();
    >.item-preview {
        width: 590px;
        float: left;
        .preview {
            @include clearfix();
            >.small {
                float: left;
                width: 110px;
                a {
                    display: block;
                    width: 100%;
                    height: 165px;
                    background-color: #fff;
                    margin-bottom: 12px;
                }
            }
            >.big {
                float: right;
                width: calc(100% - 110px - 40px);
                img {
                    width: 100%;
                    height: 648px;
                    display: block;
                    background-color: #fff;
                }
            }
        }
    }
    >.item-info {
        width: calc(100% - 590px);
        float: left;
        padding-left: 60px;
        >.header {
            position: relative;
            h1 {
                @include headerBig();
                color: $accent1;
                padding: 0;
                margin: 0;
                margin-bottom: 40px;
            }
            button.favorite {
                @include buttonReset();
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        >.price {
            font-family: $font2;
            font-weight: 300;
            .old {
                text-decoration: line-through;
                font-size: 24px;
                color: #a8a8a8;
            }
            .new {
                font-size: 30px;
                color: $dark1;
                margin-top: 25px;
            }
        }
        >.buy-now {
            margin-top: 42px;
            button {
                font-size: 24px;
                min-width: 300px;
            }
        }
        >.info-table {
            margin-top: 35px;
            font-family: $font2;
            font-size: $font-size-s;
            color: $dark1;
            .row {
                @include clearfix();
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
                .label {
                    float: left;
                    width: 170px;
                }
                .data {
                    float: left;
                    width: calc(100% - 170px);
                }
            }
        }
        >.social-links {
            margin-top: 30px;
            a {
                text-decoration: none;
            }
        }
    }
    .call-badge {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        float: right;
        width: calc(100% - 110px - 40px);
        .phone-container {
            display: flex;
            align-content: center;
            align-items: center;
            img {
                margin-right: 10px;
            }
            .phone {
                font-family: $font1;
                color: $accent2;
            }
        }
    }
}

@media (max-width:$mobileBreakpoint) {
    .item-content {
        margin-top: 20px;
        .item-preview,
        .item-info {
            float: none;
            width: 100%;
            padding: 0;
        }
        .top-bar {
            margin-bottom: 30px;
        }
        >.item-preview {
            margin-bottom: 60px;
            .preview {
                background-color: #fff;
                a {
                    margin: auto;
                    display: block;
                    width: 340px;
                    min-height: 500px;
                }
            }
        }
        >.item-info {
            >.buy-now {
                button {
                    min-width: auto;
                    width: 100%;
                }
            }
            >.social-links {
                margin-top: 40px;
            }
        }
        .call-badge {
            float: none;
            width: 100%;
        }
    }
}