.product-box {
  text-align: center;

  h3.title {
    @include header2();
    color: $accent1;
    text-align: center;
  }

  ul {
    @include ulMenu();
    @include clearfix();

    display: flex;
    justify-content: center;

    li {
      margin-right: 38px;
      float: none;

      &:last-child {
        margin-right: 0;
      }

      .item-box {
        $textMargin: 6px;
        text-align: center;

        .item-image {
          border: 1px solid #cacaca;
          width: 170px;
          height: 232px;
          background-color: #fff;
        }

        .item-name {
          margin-top: $textMargin;
          @include textMedium();
          color: $accent1;
        }

        .old-price {
          margin-top: $textMargin;
          @include textSmall();
          color: $light1;
          text-decoration: line-through;
        }

        .price {
          margin-top: $textMargin;
          @include textMedium();
          color: $dark1;
        }
      }
    }
  }

  button.buy-now {
    margin-top: 10px;
    
  }
}
@media (max-width:$mobileBreakpoint) {
  .product-box {
    width: 100%;
    overflow: hidden;

    h3.title {
      font-size: 20px;
    }

    ul {
      li {
        .item-box {
          .item-name {
            font-size: $font-size-xs;
          }

          .old-price {
            font-size: $font-size-s;
          }

          .price {
            font-size: $font-size-lg;
          }
        }
      }
    }
  }
}
