@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css);
@import "./core/_styles.scss";
@import "./core/_resets.scss";
@import "./core/_texts.scss";

$contentWidth: 1020px;

body,
html {
  font-family: $font2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font1;
}

* {
  box-sizing: border-box;
}

.top-bar {
  $height: 39px;

  .mini-part {
    height: $height;
    background-color: #012a44;

    ul.nav-bar {
      @include ulMenu();

      li {
        font-family: $font2;
        font-weight: $font-weight-light;
        font-size: 13px;
        line-height: $height;
        color: #fff;
        display: block;
        position: relative;

        &:last-child {
          &:after {
            display: none;
          }
        }

        &:first-child {
          a {
            padding-left: 0;
          }
        }

        &:after {
          content: "";
          display: block;
          height: 13px;
          width: 1px;
          background-color: #fff;
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -6.5px;
        }

        a {
          color: #fff;
          text-decoration: none;
          float: left;
          padding: 0 20px;
        }
      }
    }

    .login-button {
      font-size: $font-size-xxs;
      color: $accent2;
      float: right;
      line-height: $height;
      border: none;
      outline: none;
      background: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      position: relative;

      img {
        position: relative;
        top: 5px;
        margin-left: 10px;
      }
    }
  }

  .main-part {
    position: relative;

    .top-content {
      $height: 105px;
      height: $height;
      position: relative;

      .phone {
        @include textBig();
        color: $accent2;
        float: left;
        line-height: $height;
        position: relative;

        img {
          height: 18px;
          position: relative;
          top: 2px;
        }
      }

      .logo {
        position: absolute;
        width: 205px;
        height: 70px;
        left: 50%;
        margin-left: -102.5px;
        top: 50%;
        margin-top: -35px;
      }

      .search-control {
        float: right;
        width: 230px;
        position: relative;
        height: 36px;
        position: absolute;
        top: 50%;
        margin-top: -18px;
        right: 0;

        &:after {
          content: "";
          width: 20px;
          height: 20px;
          display: block;
          position: absolute;
          top: 6px;
          right: 8px;
          background-image: url("../images/ic-search-24px.svg");
        }

        input {
          border: none;
          background-color: #f2f2f2;
          border-radius: 5px;
          outline: none;
          padding: 6px 30px 6px 14px;
          width: 100%;
          height: 100%;
          position: relative;
        }
      }
    }

    .top-menu {
      @include clearfix();
      margin-bottom: 0;
      width: $contentWidth;
      margin: auto;

      ul {
        @include ulMenu();
        display: flex;
        justify-content: space-between;

        li {
          @include header2;
          margin-right: 40px;
          float: none;
          position: relative;

          &.active,
          &:hover {
            &:after {
              opacity: 1;
              visibility: visible;
            }
          }

          &:after {
            opacity: 0;
            visibility: hidden;
            transition: all .2s;
            content: "";
            position: absolute;
            z-index: 2;
            height: 4px;
            background-color: $accent2;
            width: 100%;
            top: 100%;
            left: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          a {
            color: $accent2;
            text-decoration: none;
          }
        }
      }

    }

    .top-menu-drop {
      &.on {
        visibility: visible;
        opacity: 1;
      }
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: all .2s;
      left: 0;
      top: 100%;
      width: 100%;
      height: 400px;
      z-index: 1;
      background: $background;
      border-top: 1px solid $accent2;

      .content {
        width: $contentWidth;
        margin: 36px auto auto;
        padding:0 12px;
        .col {
          width: 150px;
          float: left;
          margin-right: 15px;

          &.col-ex {
            width: 220px;

            > a {
              height: 36px;
              color: $dark3;
              font-size: $font-size-s;
            }
          }

          > a {
            display: block;
            font-size: $font-size-xs;
            font-family: $font2;
            color: $dark1;
            text-decoration: none;
            height: 28px;
          }
        }
      }
    }
  }

  .plasma {
    height: 485px;
    background-image: url('../images/review_bg.png');
    background-size: cover;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#001935+0,001935+75,001935+100&0+0,0.5+75,1+100 */
      background: -moz-linear-gradient(top, rgba(0,25,53,0) 0%, rgba(0,25,53,0.5) 75%, rgba(0,25,53,1) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0,25,53,0) 0%,rgba(0,25,53,0.5) 75%,rgba(0,25,53,1) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0,25,53,0) 0%,rgba(0,25,53,0.5) 75%,rgba(0,25,53,1) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#00001935', endColorstr='#001935',GradientType=0 );
      /* IE6-9 */
    }

    .container {
      position: relative;
      height: 100%;

      .content {
        transform: translateY(-50%);
        top: 50%;
        position: absolute;

        h1 {
          margin: 0 0 20px;
          @include headerSuper();
          font-weight: $font-weight-normal;
          color: #fff;
        }

        h2 {
          margin: 0 0 20px;
          @include headerBig();
          color: #fff;
        }

        button {
          border: 1px solid $accent2;
          color: $accent2;
          background-color: transparent;
          border-radius: 4px;
          font-size: $font-size-lg;
          font-family: $font1;
          padding: 6px 12px;
          width: 250px;
        }
      }
    }
  }
}

.product-box {
  text-align: center;

  h3.title {
    @include header2();
    color: $accent1;
    text-align: center;
  }

  ul {
    @include ulMenu();
    @include clearfix();

    display: flex;
    justify-content: center;

    li {
      margin-right: 38px;
      float: none;

      &:last-child {
        margin-right: 0;
      }

      .item-box {
        $textMargin: 6px;
        text-align: center;

        .item-image {
          border: 1px solid #cacaca;
          width: 170px;
          height: 232px;
          background-color: #fff;
        }

        .item-name {
          margin-top: $textMargin;
          @include textMedium();
          color: $accent1;
        }

        .old-price {
          margin-top: $textMargin;
          @include textSmall();
          color: $light1;
        }

        .price {
          margin-top: $textMargin;
          @include textMedium();
          color: $dark1;
        }
      }
    }
  }

  button.buy-now {
    margin-top: 10px;
  }
}

.page-content {
  width: $contentWidth;
  margin: auto;

  button.show-all {
    margin-top: 30px;
  }

  .brand-box {
    margin-top: 30px;
    width: 100%;
    height: 300px;
    background-image: url('../images/top_brands_bg.png');
    padding: 30px 50px;
    position: relative;

    .title {
      @include header1();
      color: $accent2;
      margin: 0;
    }

    ul {
      @include ulMenu();
      @include clearfix();
      max-width: 600px;
      margin-top: 34px;

      li {
        @include textBig();
        width: 200px;
        margin-bottom: 30px;

        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }

    a.view-all {
      position: absolute;
      bottom: 30px;
      @include textBig();
      font-weight: $font-weight-bold;
      color: $accent2;
      text-decoration: none;
    }
  }
}

.bottom-part {
  margin-top: 30px;

  .trending-box {
    height: 370px;
    padding: 35px 0;
    position: relative;
    background-repeat: repeat;
    background-image: linear-gradient(50deg,rgb(1,42,68) 0%,rgb(0,77,149) 100%);

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url("../images/trending_pattern.png");

    }

    .product-box {
      h3 {
        margin: 0;
        @include header2();
        color: #fff;
      }

      ul {
        margin-top: 35px;

        li {
          .item-box {
            .item-image {
              height: 170px;
            }

            .item-name {
              font-size: $font-size-xs;
              color: $accent2;
              margin-top: 15px;
            }
          }
        }
      }
    }
  }

  .review-box {
    height: 366px;
    background-image: url("../images/review_bg.png");
    background-size: cover;
    margin: 0;

    ul.carousel {
      @include ulMenu();
      width: $contentWidth;
      margin: auto;
      padding-top: 88px;
      display: flex;
      justify-content: center;

      li {
        .review-item {
          position: relative;
          width: 330px;
          height: 210px;
          margin: 0 6px;
          padding: 14px 18px;
          background: rgba($color: #fff, $alpha: 0.85);
          @include paragraphText();

          .from-name {
            color: $accent1;
          }

          p {
            margin: 0;
            color: $dark1;
          }

          .review-rating {
            display: flex;
            justify-content: center;
            margin-top: 10px;

            i.rating-star {
              display: block;
              width: 15px;
              height: 15px;
              background-image: url("../images/ic-star.svg");
              margin: 0 3px;
            }
          }

          a.fb-link {
            text-decoration: none;
            color: $accent1;
            position: absolute;
            bottom: 14px;
          }
        }
      }
    }
  }

  .bottom-columns {
    @include clearfix();

    > .col {
      width: 50%;
      float: left;
      padding-top: 58px;
      height: 325px;

      .content {
        width: 420px;

        h3 {
          @include header2();
        }

        p {
          @include paragraphText();
        }
      }

      &.left-col {
        background: #fff;
        padding-right: 70px;

        .content {
          float: right;

          h3 {
            color: $accent1;
          }

          p {
            color: $dark1;
          }
        }
      }

      &.right-col {
        background: $accent2;
        padding-left: 70px;

        .content {
          h3 {
            color: $dark1;
          }

          p {
            color: #fff;
          }
        }
      }
    }

  }

  .buy-with-confidence {
    background-color: $background;
    height: 205px;
    padding-top: 62px;

    h2 {
      @include header1();
      color: $dark1;
      text-align: center;
      margin: 0;
    }

    ul.confidence-items {
      @include ulMenu();
      display: flex;
      justify-content: center;
      margin-top: 32px;

      li {
        margin: 0 50px;
      }
    }
  }
}

.footer {
  $contactWidth: 254px;
  background-color: $dark1;
  @include clearfix();

  .insta-box {
    .images {
      height: 246px;
    }

    .insta-link {
      text-align: center;
      font-size: $font-size-xs;
      color: #fff;
    }
  }

  .footer-menu {
    width: $contentWidth;
    margin: 35px auto auto;

    .sitemap {
      @include clearfix();
      float: left;
      width: calc(100% - #{$contactWidth});

      .col {
        width: 156px;
        margin-right: 15px;
        float: left;

        &.col-ex {
          width: 312px;
          margin-right: 0;

          a {
            width: 50%;
            float: left;
          }
        }

        h3 {
          font-family: $font1;
          font-size: $font-size-xs;
          margin: 0 0 8px;
          color: $accent2;
        }

        a {
          width: 100%;
          display: block;
          @include textSmall();
          color: #fff;
          line-height: 24px;
          text-decoration: none;
          font-weight: $font-weight-light;
        }
      }
    }

    .contact-info {
      float: right;
      width: $contactWidth;

      .phone {
        font-family: $font1;
        font-size: $font-size-xs;
        color: $accent2;
      }

      .social {
        margin-top: 18px;
        @include clearfix();

        img {
          float: left;
          margin-right: 12px;
        }
      }

      .text {
        @include textSmall();
        color: #fff;
        margin-top: 12px;
      }

      .subscribe-control {
        $buttonWidth: 75px;
        margin-top: 6px;
        height: 28px;

        input {
          margin: 0;
          outline: none;
          border: 1px solid $accent2;
          background: none;
          border-radius: 4px 0 0 4px;
          padding: 4px 8px;
          float: left;
          display: block;
          width: calc(100% - #{$buttonWidth});
          height: 100%;
        }

        button {
          float: right;
          width: $buttonWidth;
          outline: none;
          border: none;
          background: $accent2;
          border-radius: 0 4px 4px 0;
          padding: 7px 8px;
          font-size: $font-size-xxxs;
          height: 100%;

        }
      }
    }
  }
}
