@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700|Syncopate");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700|Syncopate");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700|Syncopate");
.container, .desktop-container {
  width: 1200px;
  margin: auto; }

.flex-just {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.mobile-container {
  width: 100%;
  padding: 0; }

.txt-menu-header {
  font-family: "Syncopate";
  font-size: 18px;
  color: #c3920f; }

.txt-header2 {
  font-family: "Syncopate";
  font-size: 20px;
  font-weight: 300;
  columns: #094fa3; }

.txt-header3 {
  font-family: "Syncopate";
  font-size: 18px;
  font-weight: 500;
  columns: #094fa3; }

.txt-banner-header {
  font-family: "Syncopate";
  font-size: 48px;
  line-height: 48px;
  color: #fff; }

.txt-banner-subheader {
  font-family: "Syncopate";
  font-size: 30px;
  line-height: 30px;
  color: #fff; }

.text-center {
  text-align: center; }

.btn {
  outline: none;
  padding: 6px 12px;
  border-radius: 4px;
  text-align: center; }
  .btn.btn1 {
    background: none;
    font-family: "Syncopate";
    font-weight: 700;
    border: 1px solid #c3920f;
    color: #c3920f;
    padding: 12px 18px; }
  .btn.btn2 {
    font-family: "Roboto";
    color: #fff;
    border: none;
    background: #c3920f;
    font-size: 15px;
    padding: 8px 24px; }

.header-and-text h3 {
  font-family: "Syncopate";
  font-size: 18px;
  margin: 0 0 20px; }

.header-and-text p {
  font-family: "Roboto";
  font-size: 15px;
  line-height: 24px;
  margin: 0; }

.search-control {
  position: relative;
  height: 36px; }
  .search-control:after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 6px;
    right: 8px;
    background-image: url("../images/ic-search-24px.svg"); }
  .search-control input {
    border: none;
    background-color: #f2f2f2;
    border-radius: 5px;
    outline: none;
    padding: 6px 30px 6px 14px;
    font-size: 15px;
    font-family: "Roboto";
    width: 100%;
    height: 100%;
    position: relative; }

.filter-box > .top-part {
  display: flex;
  justify-content: start; }
  .filter-box > .top-part button.close {
    border: none;
    outline: none;
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 15px;
    color: #c3920f;
    margin-right: 10px; }
  .filter-box > .top-part button.clear-filters {
    border: none;
    outline: none;
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer; }
  .filter-box > .top-part button.apply-filters {
    margin-left: 10px; }
  .filter-box > .top-part h3 {
    font-family: "Syncopate";
    font-size: 18px;
    color: #c3920f;
    display: block; }
  .filter-box > .top-part span.sep {
    height: 18px;
    width: 1px;
    background-color: #d7d7d7;
    margin: 0 15px; }
  .filter-box > .top-part button.btn-action {
    border: none;
    outline: none;
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold; }

.desktop-view {
  display: block; }

.mobile-view {
  display: none; }

@media (max-width: 800px) {
  .container, .desktop-container {
    width: 100%;
    padding: 0 18px; }
  .desktop-container {
    width: 100%;
    padding: 0; }
  .mobile-container {
    width: 100%;
    padding: 0 18px; }
  .desktop-view {
    display: none; }
  .mobile-view {
    display: block; } }

.top-bar .main-part-mobile {
  display: none; }
  .top-bar .main-part-mobile > .content {
    height: 66px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
    .top-bar .main-part-mobile > .content .left {
      display: flex;
      align-content: center; }
      .top-bar .main-part-mobile > .content .left button.nav-toggle {
        background: none;
        outline: none;
        border: none;
        padding: 0; }
        .top-bar .main-part-mobile > .content .left button.nav-toggle span {
          width: 28px;
          height: 3px;
          background-color: #c3920f;
          display: block;
          margin-bottom: 5px; }
          .top-bar .main-part-mobile > .content .left button.nav-toggle span:nth-child(2) {
            width: 24px;
            margin-left: 2px; }
          .top-bar .main-part-mobile > .content .left button.nav-toggle span:last-child {
            margin-bottom: 0; }
      .top-bar .main-part-mobile > .content .left .logo {
        margin-left: 18px; }
        .top-bar .main-part-mobile > .content .left .logo img {
          width: 136px; }
    .top-bar .main-part-mobile > .content .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%; }
      .top-bar .main-part-mobile > .content .right .search-control-mobile {
        margin-right: 26px; }
        .top-bar .main-part-mobile > .content .right .search-control-mobile button.search-toggle {
          background: none;
          outline: none;
          border: none;
          padding: 0;
          display: block; }
          .top-bar .main-part-mobile > .content .right .search-control-mobile button.search-toggle img {
            display: block; }
      .top-bar .main-part-mobile > .content .right a.shop img {
        display: block; }
    .top-bar .main-part-mobile > .content .menu-slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      display: flex;
      transition: all .4s;
      visibility: hidden;
      opacity: 0; }
      .top-bar .main-part-mobile > .content .menu-slide.on {
        visibility: visible;
        opacity: 1; }
      .top-bar .main-part-mobile > .content .menu-slide button.close {
        width: 65px;
        height: 65px;
        border-width: 0 0 1px 1px;
        border-color: #737373;
        outline: none;
        background-color: #00293b;
        color: #fff; }
      .top-bar .main-part-mobile > .content .menu-slide > .content {
        background-color: #fff;
        width: 100%;
        border-width: 0 1px 1px 0;
        border-color: #d7d7d7;
        border-style: solid; }
        .top-bar .main-part-mobile > .content .menu-slide > .content > .header {
          height: 65px;
          border-bottom: 1px solid #c3920f;
          padding: 12px 18px; }
          .top-bar .main-part-mobile > .content .menu-slide > .content > .header img {
            height: 40px; }
        .top-bar .main-part-mobile > .content .menu-slide > .content > ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: block;
          padding: 12px 18px; }
          .top-bar .main-part-mobile > .content .menu-slide > .content > ul li {
            list-style: none; }
          .top-bar .main-part-mobile > .content .menu-slide > .content > ul.link-headers {
            font-size: 16px;
            font-family: "Syncopate";
            border-bottom: 1px solid #d7d7d7; }
            .top-bar .main-part-mobile > .content .menu-slide > .content > ul.link-headers li {
              padding: 20px 0; }
              .top-bar .main-part-mobile > .content .menu-slide > .content > ul.link-headers li a {
                color: #c3920f;
                text-decoration: none; }
          .top-bar .main-part-mobile > .content .menu-slide > .content > ul.links {
            font-size: 14px;
            font-family: "Roboto"; }
            .top-bar .main-part-mobile > .content .menu-slide > .content > ul.links li {
              padding: 15px 0; }
              .top-bar .main-part-mobile > .content .menu-slide > .content > ul.links li a {
                color: #1f1500;
                text-decoration: none; }
  .top-bar .main-part-mobile .secondary {
    font: "Syncopate";
    color: #c3920f;
    font-size: 14px;
    position: relative; }
    .top-bar .main-part-mobile .secondary .container, .top-bar .main-part-mobile .secondary .desktop-container {
      background-color: #012a44;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px; }
      .top-bar .main-part-mobile .secondary .container .phone img, .top-bar .main-part-mobile .secondary .desktop-container .phone img {
        height: 14px;
        position: relative;
        top: 2px; }
    .top-bar .main-part-mobile .secondary .secondary-drop {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #012a44;
      z-index: 1;
      transition: all .4s;
      opacity: 0;
      visibility: hidden; }
      .top-bar .main-part-mobile .secondary .secondary-drop.on {
        opacity: 1;
        visibility: visible; }
      .top-bar .main-part-mobile .secondary .secondary-drop .content {
        text-align: center;
        padding: 60px 0 30px; }
        .top-bar .main-part-mobile .secondary .secondary-drop .content h3 {
          font-family: "Syncopate";
          font-size: 14px; }
        .top-bar .main-part-mobile .secondary .secondary-drop .content ul {
          list-style: none;
          margin: 0;
          padding: 0;
          margin-top: 35px; }
          .top-bar .main-part-mobile .secondary .secondary-drop .content ul li {
            list-style: none; }
          .top-bar .main-part-mobile .secondary .secondary-drop .content ul li {
            font-family: "Syncopate";
            font-size: 14px;
            margin-bottom: 30px; }
            .top-bar .main-part-mobile .secondary .secondary-drop .content ul li a {
              color: #fff;
              text-decoration: none; }

.top-bar .mini-part {
  height: 39px;
  background-color: #012a44; }
  .top-bar .mini-part ul.nav-bar {
    list-style: none;
    margin: 0;
    padding: 0; }
    .top-bar .mini-part ul.nav-bar li {
      list-style: none; }
    .top-bar .mini-part ul.nav-bar li {
      float: left; }
    .top-bar .mini-part ul.nav-bar li {
      font-family: "Roboto";
      font-weight: 300;
      font-size: 13px;
      line-height: 39px;
      color: #fff;
      display: block;
      position: relative; }
      .top-bar .mini-part ul.nav-bar li:last-child:after {
        display: none; }
      .top-bar .mini-part ul.nav-bar li:first-child a {
        padding-left: 0; }
      .top-bar .mini-part ul.nav-bar li:after {
        content: "";
        display: block;
        height: 13px;
        width: 1px;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -6.5px; }
      .top-bar .mini-part ul.nav-bar li a {
        color: #fff;
        text-decoration: none;
        float: left;
        padding: 0 20px; }
  .top-bar .mini-part .login-button {
    font-size: 13px;
    color: #c3920f;
    float: right;
    line-height: 39px;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: relative; }
    .top-bar .mini-part .login-button img {
      position: relative;
      top: 5px;
      margin-left: 10px; }

.top-bar .main-part {
  position: relative; }
  .top-bar .main-part .top-content {
    height: 105px;
    position: relative; }
    .top-bar .main-part .top-content .phone {
      font-family: "Roboto";
      font-size: 18px;
      color: #c3920f;
      float: left;
      line-height: 105px;
      position: relative; }
      .top-bar .main-part .top-content .phone img {
        height: 18px;
        position: relative;
        top: 2px; }
    .top-bar .main-part .top-content .logo {
      position: absolute;
      width: 205px;
      height: 70px;
      left: 50%;
      margin-left: -102.5px;
      top: 50%;
      margin-top: -35px; }
    .top-bar .main-part .top-content .search-control {
      float: right;
      width: 230px;
      position: absolute;
      top: 50%;
      margin-top: -18px;
      right: 0; }
  .top-bar .main-part .top-menu {
    margin-bottom: 0;
    width: 1020px;
    margin: auto; }
    .top-bar .main-part .top-menu:after {
      content: "";
      display: table;
      clear: both;
      float: none; }
    .top-bar .main-part .top-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between; }
      .top-bar .main-part .top-menu ul li {
        list-style: none; }
      .top-bar .main-part .top-menu ul li {
        float: left; }
      .top-bar .main-part .top-menu ul li {
        font-family: "Syncopate";
        font-size: 18px;
        margin-right: 40px;
        float: none;
        position: relative; }
        .top-bar .main-part .top-menu ul li.active:after, .top-bar .main-part .top-menu ul li:hover:after {
          opacity: 1;
          visibility: visible; }
        .top-bar .main-part .top-menu ul li:after {
          opacity: 0;
          visibility: hidden;
          transition: all .2s;
          content: "";
          position: absolute;
          z-index: 2;
          height: 4px;
          background-color: #c3920f;
          width: 100%;
          top: 100%;
          left: 0; }
        .top-bar .main-part .top-menu ul li:last-child {
          margin-right: 0; }
        .top-bar .main-part .top-menu ul li a {
          color: #c3920f;
          text-decoration: none; }
  .top-bar .main-part .top-menu-drop {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
    left: 0;
    top: 100%;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: #f7f7f7;
    border-top: 1px solid #c3920f; }
    .top-bar .main-part .top-menu-drop.on {
      visibility: visible;
      opacity: 1; }
    .top-bar .main-part .top-menu-drop .content {
      width: 1020px;
      margin: 36px auto auto;
      padding: 0 12px; }
      .top-bar .main-part .top-menu-drop .content .col {
        width: 150px;
        float: left;
        margin-right: 15px; }
        .top-bar .main-part .top-menu-drop .content .col.col-ex {
          width: 220px; }
          .top-bar .main-part .top-menu-drop .content .col.col-ex > a {
            height: 36px;
            color: #012a44;
            font-size: 15px; }
        .top-bar .main-part .top-menu-drop .content .col > a {
          display: block;
          font-size: 14px;
          font-family: "Roboto";
          color: #1f1500;
          text-decoration: none;
          height: 28px; }

@media (max-width: 800px) {
  .top-bar .mini-part {
    display: none; }
  .top-bar .main-part {
    display: none; }
  .top-bar .main-part-mobile {
    display: block; } }

.item-box {
  text-align: center; }
  .item-box .item-image {
    border: 1px solid #cacaca;
    width: 170px;
    height: 232px;
    background-color: #fff; }
  .item-box .item-name {
    margin-top: 6px;
    font-family: "Roboto";
    font-size: 15px;
    color: #094fa3; }
  .item-box .old-price {
    margin-top: 6px;
    font-family: "Roboto";
    font-size: 12px;
    color: #797979;
    text-decoration: line-through; }
  .item-box .price {
    margin-top: 6px;
    font-family: "Roboto";
    font-size: 15px;
    color: #1f1500; }

.product-box {
  text-align: center; }
  .product-box h3.title {
    font-family: "Syncopate";
    font-size: 18px;
    color: #094fa3;
    text-align: center; }
  .product-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; }
    .product-box ul li {
      list-style: none; }
    .product-box ul li {
      float: left; }
    .product-box ul:after {
      content: "";
      display: table;
      clear: both;
      float: none; }
    .product-box ul li {
      margin-right: 38px;
      float: none; }
      .product-box ul li:last-child {
        margin-right: 0; }
  .product-box button.buy-now {
    margin-top: 10px; }

@media (max-width: 800px) {
  .product-box {
    width: 100%;
    overflow: hidden; }
    .product-box h3.title {
      font-size: 20px; }
  .item-box .item-name {
    font-size: 14px; }
  .item-box .old-price {
    font-size: 15px; }
  .item-box .price {
    font-size: 20px; } }

.page-content {
  width: 1020px;
  margin: auto; }
  .page-content button.show-all {
    margin-top: 30px; }
  .page-content .brand-box {
    margin-top: 30px;
    width: 100%;
    height: 300px;
    background-image: url("../images/top_brands_bg.png");
    padding: 30px 50px;
    position: relative; }
    .page-content .brand-box .title {
      font-family: "Syncopate";
      font-size: 20px;
      color: #c3920f;
      margin: 0; }
    .page-content .brand-box .items {
      max-width: 600px;
      margin-top: 34px; }
      .page-content .brand-box .items ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        .page-content .brand-box .items ul li {
          list-style: none; }
        .page-content .brand-box .items ul li {
          float: left; }
        .page-content .brand-box .items ul:after {
          content: "";
          display: table;
          clear: both;
          float: none; }
        .page-content .brand-box .items ul li {
          font-family: "Roboto";
          font-size: 18px;
          width: 200px;
          margin-bottom: 28px; }
          .page-content .brand-box .items ul li a {
            color: #fff;
            text-decoration: none; }
    .page-content .brand-box button.view-all {
      display: none;
      width: 226px;
      margin: auto; }
    .page-content .brand-box a.view-all {
      position: absolute;
      bottom: 30px;
      font-family: "Roboto";
      font-size: 18px;
      font-weight: 700;
      color: #c3920f;
      text-decoration: none; }

@media (max-width: 800px) {
  .page-content {
    width: 100%; }
    .page-content .brand-box {
      height: 292px;
      background-image: url("../images/Mobile_top_brands_bg.png");
      background-size: cover;
      padding: 18px; }
      .page-content .brand-box .title {
        text-align: center; }
      .page-content .brand-box ul {
        display: flex;
        justify-content: space-between; }
        .page-content .brand-box ul li {
          width: auto; }
          .page-content .brand-box ul li:nth-child(3n+0) {
            float: right;
            width: auto; }
      .page-content .brand-box a.view-all {
        display: none; }
      .page-content .brand-box button.view-all {
        display: block; } }

.bottom-part {
  margin-top: 30px; }
  .bottom-part .trending-box {
    height: 370px;
    padding: 35px 0;
    position: relative;
    background-repeat: repeat;
    background-image: linear-gradient(50deg, #012a44 0%, #004d95 100%); }
    .bottom-part .trending-box:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url("../images/trending_pattern.png"); }
    .bottom-part .trending-box .product-box h3 {
      margin: 0;
      font-family: "Syncopate";
      font-size: 18px;
      color: #fff; }
    .bottom-part .trending-box .product-box ul {
      margin-top: 35px; }
      .bottom-part .trending-box .product-box ul li .item-box .item-image {
        height: 170px; }
      .bottom-part .trending-box .product-box ul li .item-box .item-name {
        font-size: 14px;
        color: #c3920f;
        margin-top: 25px; }
  .bottom-part .review-box {
    height: 366px;
    background-image: url("../images/review_bg.png");
    background-size: cover;
    margin: 0; }
    .bottom-part .review-box ul.carousel {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 1020px;
      margin: auto;
      padding-top: 88px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .bottom-part .review-box ul.carousel li {
        list-style: none; }
      .bottom-part .review-box ul.carousel li {
        float: left; }
      .bottom-part .review-box ul.carousel li {
        float: none; }
        .bottom-part .review-box ul.carousel li .review-item {
          position: relative;
          width: 330px;
          height: 210px;
          padding: 14px 18px;
          background: rgba(255, 255, 255, 0.85);
          font-family: "Roboto";
          font-size: 15px;
          line-height: 24px; }
          .bottom-part .review-box ul.carousel li .review-item .from-name {
            color: #094fa3; }
          .bottom-part .review-box ul.carousel li .review-item p {
            margin: 0;
            color: #1f1500; }
          .bottom-part .review-box ul.carousel li .review-item .review-rating {
            display: flex;
            justify-content: center;
            margin-top: 10px; }
            .bottom-part .review-box ul.carousel li .review-item .review-rating i.rating-star {
              display: block;
              width: 15px;
              height: 15px;
              background-image: url("../images/ic-star.svg");
              margin: 0 3px; }
          .bottom-part .review-box ul.carousel li .review-item a.fb-link {
            text-decoration: none;
            color: #094fa3;
            position: absolute;
            bottom: 14px; }
  .bottom-part .bottom-columns:after {
    content: "";
    display: table;
    clear: both;
    float: none; }
  .bottom-part .bottom-columns > .col {
    width: 50%;
    float: left;
    padding-top: 58px;
    height: 325px; }
    .bottom-part .bottom-columns > .col .content {
      width: 420px; }
    .bottom-part .bottom-columns > .col.left-col {
      background: #fff;
      padding-right: 70px; }
      .bottom-part .bottom-columns > .col.left-col .content {
        float: right; }
        .bottom-part .bottom-columns > .col.left-col .content h3 {
          color: #094fa3; }
        .bottom-part .bottom-columns > .col.left-col .content p {
          color: #1f1500; }
    .bottom-part .bottom-columns > .col.right-col {
      background: #c3920f;
      padding-left: 70px; }
      .bottom-part .bottom-columns > .col.right-col .content h3 {
        color: #1f1500; }
      .bottom-part .bottom-columns > .col.right-col .content p {
        color: #fff; }

@media (max-width: 800px) {
  .bottom-part .review-box {
    height: 250px;
    padding: 18px; }
    .bottom-part .review-box ul.carousel {
      width: 100%;
      overflow: hidden;
      margin: 0;
      padding-top: 0; }
      .bottom-part .review-box ul.carousel li {
        margin: 0 6px; }
  .bottom-part .bottom-columns .col.left-col, .bottom-part .bottom-columns .col.right-col {
    padding: 40px 30px 25px;
    float: none;
    height: auto;
    width: auto; }
    .bottom-part .bottom-columns .col.left-col .content, .bottom-part .bottom-columns .col.right-col .content {
      float: none; }
      .bottom-part .bottom-columns .col.left-col .content h3, .bottom-part .bottom-columns .col.right-col .content h3 {
        margin: 0; } }

.footer {
  background-color: #1f1500; }
  .footer:after {
    content: "";
    display: table;
    clear: both;
    float: none; }
  .footer .buy-with-confidence {
    background-color: #f7f7f7;
    height: 205px;
    padding-top: 62px; }
    .footer .buy-with-confidence h2 {
      font-family: "Syncopate";
      font-size: 20px;
      color: #1f1500;
      text-align: center;
      margin: 0; }
    .footer .buy-with-confidence ul.confidence-items {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      margin-top: 32px; }
      .footer .buy-with-confidence ul.confidence-items li {
        list-style: none; }
      .footer .buy-with-confidence ul.confidence-items li {
        float: left; }
      .footer .buy-with-confidence ul.confidence-items li {
        margin: 0 50px; }
  .footer .insta-box .images {
    height: 246px; }
  .footer .insta-box .insta-link {
    text-align: center;
    font-size: 14px;
    color: #fff; }
  .footer .footer-menu {
    width: 1020px;
    margin: 35px auto auto; }
    .footer .footer-menu .sitemap {
      float: left;
      width: calc(100% - 254px); }
      .footer .footer-menu .sitemap:after {
        content: "";
        display: table;
        clear: both;
        float: none; }
      .footer .footer-menu .sitemap .col {
        width: 156px;
        margin-right: 15px;
        float: left; }
        .footer .footer-menu .sitemap .col.col-ex {
          width: 312px;
          margin-right: 0; }
          .footer .footer-menu .sitemap .col.col-ex a {
            width: 50%;
            float: left; }
        .footer .footer-menu .sitemap .col h3 {
          font-family: "Syncopate";
          font-size: 14px;
          margin: 0 0 8px;
          color: #c3920f; }
        .footer .footer-menu .sitemap .col a {
          width: 100%;
          display: block;
          font-family: "Roboto";
          font-size: 12px;
          color: #fff;
          line-height: 24px;
          text-decoration: none;
          font-weight: 300; }
    .footer .footer-menu .contact-info {
      float: right;
      width: 254px; }
      .footer .footer-menu .contact-info .phone {
        font-family: "Syncopate";
        font-size: 14px;
        color: #c3920f; }
        .footer .footer-menu .contact-info .phone.mobile {
          display: none; }
      .footer .footer-menu .contact-info .social {
        margin-top: 18px; }
        .footer .footer-menu .contact-info .social:after {
          content: "";
          display: table;
          clear: both;
          float: none; }
        .footer .footer-menu .contact-info .social img {
          float: left;
          margin-right: 12px; }
      .footer .footer-menu .contact-info .text {
        font-family: "Roboto";
        font-size: 12px;
        color: #fff;
        margin-top: 12px; }
      .footer .footer-menu .contact-info .subscribe-control {
        margin-top: 6px;
        height: 28px; }
        .footer .footer-menu .contact-info .subscribe-control input {
          margin: 0;
          outline: none;
          border: 1px solid #c3920f;
          background: none;
          border-radius: 4px 0 0 4px;
          padding: 4px 8px;
          float: left;
          display: block;
          width: calc(100% - 75px);
          height: 100%;
          font-size: 12px; }
        .footer .footer-menu .contact-info .subscribe-control button {
          float: right;
          width: 75px;
          outline: none;
          border: none;
          background: #c3920f;
          border-radius: 0 4px 4px 0;
          padding: 7px 8px;
          font-size: 12px;
          height: 100%;
          color: #fff; }

@media (max-width: 800px) {
  .footer {
    padding: 0; }
    .footer .buy-with-confidence {
      padding: 35px 0;
      height: auto; }
      .footer .buy-with-confidence ul.confidence-items {
        margin-top: 20px;
        display: flex;
        justify-content: space-around; }
        .footer .buy-with-confidence ul.confidence-items li {
          float: none;
          margin: 0 4px; }
    .footer .insta-box .images {
      height: 125px; }
    .footer .footer-menu {
      width: 100%;
      margin-top: 0; }
      .footer .footer-menu .contact-info {
        width: 100%; }
        .footer .footer-menu .contact-info .social {
          margin-top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center; }
          .footer .footer-menu .contact-info .social:after {
            content: none; }
          .footer .footer-menu .contact-info .social img {
            margin: 0 10px;
            display: block; }
        .footer .footer-menu .contact-info .phone {
          margin-top: 28px;
          text-align: center; }
          .footer .footer-menu .contact-info .phone.desktop {
            display: none; }
          .footer .footer-menu .contact-info .phone.mobile {
            display: block; }
        .footer .footer-menu .contact-info .text {
          font-size: 16px;
          text-align: center; }
        .footer .footer-menu .contact-info .subscribe-control {
          height: 45px;
          width: 80%;
          margin: 18px auto 0; }
          .footer .footer-menu .contact-info .subscribe-control button {
            font-size: 15px;
            width: 110px; }
          .footer .footer-menu .contact-info .subscribe-control input {
            font-size: 15px;
            width: calc(100% - 110px); }
      .footer .footer-menu .sitemap {
        width: 100%;
        float: none;
        text-align: center; }
        .footer .footer-menu .sitemap:before {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.2);
          margin: 28px 0; }
        .footer .footer-menu .sitemap .col,
        .footer .footer-menu .sitemap .col.col-ex {
          width: 100%;
          float: none;
          margin-bottom: 35px; }
          .footer .footer-menu .sitemap .col h3:before,
          .footer .footer-menu .sitemap .col.col-ex h3:before {
            content: "+";
            margin-right: 10px; }
          .footer .footer-menu .sitemap .col .links,
          .footer .footer-menu .sitemap .col.col-ex .links {
            display: none; }
      .footer .footer-menu .contact-info {
        float: none; } }

.inner-content {
  padding-top: 30px; }
  .inner-content .gallery .two-col-panel:after {
    content: "";
    display: table;
    clear: both;
    float: none; }
  .inner-content .gallery .two-col-panel > .side-panel {
    width: 300px;
    float: left; }
  .inner-content .gallery .two-col-panel > .content-panel {
    padding-left: 50px;
    width: calc(100% - 300px);
    float: left; }
  .inner-content .gallery > .top-part > .breadcrumbs {
    font-family: "Roboto";
    font-size: 14px;
    color: #1f1500; }
    .inner-content .gallery > .top-part > .breadcrumbs a {
      text-decoration: none;
      color: #1f1500; }
  .inner-content .gallery > .top-part > .header h2 {
    font-family: "Syncopate";
    font-size: 20px;
    color: #094fa3;
    margin: 0; }
  .inner-content .gallery > .top-part > .header .info {
    font-family: "Roboto";
    font-size: 14px;
    margin-top: 40px; }
    .inner-content .gallery > .top-part > .header .info:after {
      content: "";
      display: table;
      clear: both;
      float: none; }
    .inner-content .gallery > .top-part > .header .info > .item-count {
      float: left; }
    .inner-content .gallery > .top-part > .header .info > .paging {
      display: flex;
      align-items: center;
      float: right; }
      .inner-content .gallery > .top-part > .header .info > .paging:after {
        content: "";
        display: table;
        clear: both;
        float: none; }
      .inner-content .gallery > .top-part > .header .info > .paging .text {
        float: left;
        font-weight: 300;
        line-height: 25px;
        margin-right: 15px; }
      .inner-content .gallery > .top-part > .header .info > .paging ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex; }
        .inner-content .gallery > .top-part > .header .info > .paging ul li {
          list-style: none; }
        .inner-content .gallery > .top-part > .header .info > .paging ul li {
          display: block;
          width: 25px;
          height: 25px;
          margin-right: 4px;
          background-color: #fff;
          text-align: center;
          padding-top: 4px; }
          .inner-content .gallery > .top-part > .header .info > .paging ul li a {
            color: #094fa3;
            text-decoration: none; }
          .inner-content .gallery > .top-part > .header .info > .paging ul li.selected, .inner-content .gallery > .top-part > .header .info > .paging ul li:hover {
            background-color: #094fa3; }
            .inner-content .gallery > .top-part > .header .info > .paging ul li.selected a, .inner-content .gallery > .top-part > .header .info > .paging ul li:hover a {
              color: #fff; }
          .inner-content .gallery > .top-part > .header .info > .paging ul li:last-child {
            margin-right: 0; }
  .inner-content .gallery > .gallery-content .filter-panel .search-control {
    margin-bottom: 28px; }
    .inner-content .gallery > .gallery-content .filter-panel .search-control input {
      background-color: #fff; }
  .inner-content .gallery > .gallery-content .filter-panel .filter-box > .top-part {
    margin-bottom: 15px; }
    .inner-content .gallery > .gallery-content .filter-panel .filter-box > .top-part h3 {
      margin: 0; }
  .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content {
    background-color: #fff;
    padding: 20px 15px; }
    .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters {
      list-style: none;
      margin: 0;
      padding: 0; }
      .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters li {
        list-style: none; }
      .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li {
        border-bottom: 1px solid #d7d7d7;
        padding: 15px 8px 5px; }
        .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li.on .filter-toggle > .right button.expand {
          display: none; }
        .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li.on .filter-toggle > .right button.collapse {
          display: block; }
        .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li.on .filter-content {
          display: block; }
        .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li:last-child {
          border-bottom: none; }
        .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li .filter-toggle {
          display: flex;
          justify-content: space-between;
          align-items: top; }
          .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li .filter-toggle > .left label {
            font-family: "Roboto";
            font-size: 16px;
            color: #094fa3; }
          .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li .filter-toggle > .left .description {
            font-family: "Roboto";
            font-size: 12px;
            color: #d7d7d7; }
          .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li .filter-toggle > .right button {
            border: none;
            outline: none;
            background: none;
            margin: 0;
            padding: 0;
            cursor: pointer;
            color: #c3920f;
            font-size: 16px; }
            .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li .filter-toggle > .right button.collapse {
              display: none; }
        .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li .filter-content {
          padding-top: 20px;
          display: none; }
          .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li .filter-content ul.filter-items {
            list-style: none;
            margin: 0;
            padding: 0; }
            .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li .filter-content ul.filter-items li {
              list-style: none; }
            .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li .filter-content ul.filter-items li {
              padding-bottom: 18px;
              font-family: "Roboto";
              font-size: 12px;
              color: #1f1500; }
              .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li .filter-content ul.filter-items li > .checkbox-control input {
                width: 1px;
                height: 1px;
                left: -99999px;
                position: absolute; }
                .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li .filter-content ul.filter-items li > .checkbox-control input:checked + label:before {
                  background-color: #c3920f; }
                .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li .filter-content ul.filter-items li > .checkbox-control input + label {
                  position: relative;
                  padding-left: 20px; }
                  .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li .filter-content ul.filter-items li > .checkbox-control input + label:before {
                    content: "";
                    position: absolute;
                    top: 1px;
                    left: 0;
                    width: 10px;
                    height: 10px;
                    border: 1px solid #c3920f; }
          .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li .filter-content .price-filter {
            display: flex;
            color: #d2d2d2;
            width: 100%;
            justify-content: space-between;
            align-items: center; }
            .inner-content .gallery > .gallery-content .filter-panel .filter-box > .content ul.filters > li .filter-content .price-filter input {
              border: none;
              background-color: #f2f2f2;
              border-radius: 5px;
              outline: none;
              padding: 6px 30px 6px 14px;
              font-size: 15px;
              font-family: "Roboto";
              height: 30px;
              width: 100px; }
  .inner-content .gallery > .gallery-content .content-panel {
    padding-top: 30px; }
    .inner-content .gallery > .gallery-content .content-panel ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-bottom: 30px; }
      .inner-content .gallery > .gallery-content .content-panel ul li {
        list-style: none; }
      .inner-content .gallery > .gallery-content .content-panel ul li {
        width: 170px;
        float: left;
        margin-right: calc((100% - 680px)/3);
        margin-bottom: 30px; }
        .inner-content .gallery > .gallery-content .content-panel ul li:nth-child(4n+0) {
          margin-right: 0; }
        .inner-content .gallery > .gallery-content .content-panel ul li .item-box .item-image {
          margin: auto; }
  .inner-content .bottom-part .content {
    background-color: #fff; }
    .inner-content .bottom-part .content .header-and-text {
      padding: 30px 15px;
      text-align: center;
      max-width: 1020px;
      margin: auto; }
      .inner-content .bottom-part .content .header-and-text h3 {
        color: #094fa3; }
      .inner-content .bottom-part .content .header-and-text p {
        color: #1f1500; }

@media (max-width: 800px) {
  .inner-content {
    padding-top: 0; }
    .inner-content .gallery > .top-part .header.content-panel {
      background-color: #fff;
      width: 100%;
      margin: 0;
      padding: 30px 18px 0; }
      .inner-content .gallery > .top-part .header.content-panel .info {
        position: relative;
        margin-top: 4px;
        padding-bottom: 4px; }
        .inner-content .gallery > .top-part .header.content-panel .info button.filters-toggle {
          position: absolute;
          right: 0;
          bottom: 4px;
          border: none;
          outline: none;
          background: none;
          margin: 0;
          padding: 0;
          cursor: pointer;
          background-color: #012a44;
          padding: 6px 12px;
          border-radius: 4px;
          color: #fff;
          font-family: "Roboto";
          font-size: 12px; }
        .inner-content .gallery > .top-part .header.content-panel .info .paging {
          position: absolute;
          left: 50%;
          bottom: -40px;
          transform: translateX(-50%); }
    .inner-content .gallery > .gallery-content > .filter-panel > .filter-box {
      padding: 0;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100%;
      width: calc(100% - 50px);
      border-style: solid;
      border-width: 0 1px 1px 0;
      border-color: #d7d7d7;
      visibility: hidden;
      opacity: 0;
      transition: all .4s; }
      .inner-content .gallery > .gallery-content > .filter-panel > .filter-box.on {
        opacity: 1;
        visibility: visible; }
      .inner-content .gallery > .gallery-content > .filter-panel > .filter-box .top-part {
        margin: 0;
        padding: 0 18px;
        height: 66px;
        border-bottom: 2px solid #c3920f;
        justify-content: space-between; }
      .inner-content .gallery > .gallery-content > .filter-panel > .filter-box .content {
        padding: 0; }
        .inner-content .gallery > .gallery-content > .filter-panel > .filter-box .content > ul.filters {
          margin: 0;
          padding-bottom: 20px; }
          .inner-content .gallery > .gallery-content > .filter-panel > .filter-box .content > ul.filters > li {
            padding: 15px 18px 5px; }
    .inner-content .gallery > .gallery-content > .content-panel {
      width: 100%;
      float: none;
      padding: 60px 18px 30px; }
      .inner-content .gallery > .gallery-content > .content-panel ul li {
        width: 50%;
        margin-right: 0; }
        .inner-content .gallery > .gallery-content > .content-panel ul li:nth-child(4n+0) {
          margin-right: 0; }
        .inner-content .gallery > .gallery-content > .content-panel ul li:nth-child(2n+0) {
          margin-right: 0; } }

body,
html {
  font-family: "Roboto"; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font1; }

* {
  box-sizing: border-box; }

.inner-content {
  background-color: #f7f7f7;
  border-top: 1px solid #c3920f; }

.plasma {
  height: 485px;
  background-image: url("../images/review_bg.png");
  background-size: cover;
  position: relative; }
  .plasma:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#001935+0,001935+75,001935+100&0+0,0.5+75,1+100 */
    background: -moz-linear-gradient(top, rgba(0, 25, 53, 0) 0%, rgba(0, 25, 53, 0.5) 75%, #001935 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 25, 53, 0) 0%, rgba(0, 25, 53, 0.5) 75%, #001935 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 25, 53, 0) 0%, rgba(0, 25, 53, 0.5) 75%, #001935 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#00001935', endColorstr='#001935',GradientType=0 );
    /* IE6-9 */ }
  .plasma .container, .plasma .desktop-container {
    position: relative;
    height: 100%; }
    .plasma .container .content, .plasma .desktop-container .content {
      transform: translateY(-50%);
      top: 50%;
      position: absolute; }
      .plasma .container .content h1, .plasma .desktop-container .content h1 {
        margin: 0 0 20px;
        font-family: "Syncopate";
        font-size: 48px;
        line-height: 48px;
        font-weight: 500;
        color: #fff; }
      .plasma .container .content h2, .plasma .desktop-container .content h2 {
        margin: 0 0 20px;
        font-family: "Syncopate";
        font-size: 30px;
        line-height: 30px;
        color: #fff; }
      .plasma .container .content button, .plasma .desktop-container .content button {
        border: 1px solid #c3920f;
        outline: none;
        color: #c3920f;
        background-color: transparent;
        border-radius: 4px;
        font-size: 20px;
        font-family: "Syncopate";
        font-weight: 700;
        padding: 6px 12px;
        width: 250px; }

@media (max-width: 800px) {
  .plasma {
    height: 440px;
    background-image: url("../images/plasma-mobile.jpg"); }
    .plasma .container .content, .plasma .desktop-container .content {
      margin: 0;
      width: 100%;
      left: 0; }
      .plasma .container .content h1, .plasma .desktop-container .content h1 {
        font-size: 30px;
        line-height: 30px;
        text-align: center; }
      .plasma .container .content h2, .plasma .desktop-container .content h2 {
        font-size: 16px;
        line-height: 16px;
        text-align: center; }
      .plasma .container .content button, .plasma .desktop-container .content button {
        width: 230px;
        font-size: 14px;
        padding: 16px 0;
        margin: auto;
        display: block; } }
