@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css);
@import "./core/_styles.scss";
@import "./core/_resets.scss";
@import "./core/_texts.scss";

@import "./_top-bar.scss";
@import "./_product-box.scss";
@import "./_page-content.scss";
@import "./_bottom-part.scss";
@import "./_footer.scss";


body,
html {
  font-family: $font2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font1;
}

* {
  box-sizing: border-box;
}



